.container {
    width: 95%;
    height: 70%;
    background-color: #fff;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    font-size: 3rem;
}

.title span {
    font-weight: bold;
}

.title>:nth-child(1) {
    color: red;
}

.title img {
    margin: .5rem;
}

.pkCards {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    gap: 1rem;
}

